name: Linux

# Run on PR requests. And on master itself.
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  TestLinux:
    name: Python ${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # 2017
          - python: 3.6
            sqlalchemy: "1.1.*"
            geoalchemy2: "0.6.*"
          # 2018
          - python: 3.7
            sqlalchemy: "1.2.*"
            geoalchemy2: "0.7.*"
          # 2019
          - python: 3.8
            sqlalchemy: "1.3.*"
            geoalchemy2: "0.8.*"
          # current
          - python: 3.9
            sqlalchemy: "1.*"
            geoalchemy2: "0.*"

    services:
      postgis:
        image: mdillon/postgis
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgis
          POSTGRES_PASSWORD: mysecret

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      
      - name: Install psql, sqlite3 and spatialite
        run: |
          sudo apt-get install --yes --no-install-recommends postgresql-client sqlite3 libsqlite3-mod-spatialite
      
      - name: Load test postgis database
        shell: bash
        run: | 
          psql -h localhost -d postgis -U postgis -w  < tests/data/postgres/emtpy_postgres.sql
        env:
          PGPASSWORD: mysecret

      - name: Install python dependencies
        shell: bash
        run: |
          pip install --disable-pip-version-check --upgrade pip setuptools wheel
          pip install sqlalchemy==${{ matrix.sqlalchemy }} geoalchemy2==${{ matrix.geoalchemy2 }} .[test,postgis] flake8
          pip list

      - name: Run tests
        shell: bash
        run: |
          pytest

      - name: Run flake8
        shell: bash
        run: |
          flake8
